---
import PageLayout from "@/layouts/PageLayout.astro";
import BigProjectGrid from "@/components/page/Projects/BigProjectGrid.astro";
import { Button } from "@/components/ui/button";

import CfBotLogo from "@/assets/pages/projects/logos/cfbot.svg";
import CfBotBg from "@/assets/pages/projects/thumbnails/cfbot.svg";
import MPLogo from "@/assets/pages/projects/logos/mineplayer.svg";
import MPBg from "@/assets/pages/projects/thumbnails/mineplayer.svg";
import BrowserHomepageBg from "@/assets/pages/projects/thumbnails/browser-homepage.svg";

import "@styles/content.css";
import SmallProjectCard from "@/components/page/Projects/SmallProjectCard.astro";

import { FolderBookmark } from "lucide-react";
---

<PageLayout
  title="專案"
  subtitle="我不是沒有失敗，只是沒有被失敗打敗而已"
  description="這是我做的一些開源專案，雖然還是不大成熟，但歡迎研究一下，可以提PR或Issue更好！"
  ogImage="/assets/website_og/projects_og.png"
>
  <div class="flex flex-col gap-7">
    <BigProjectGrid />

    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
      <SmallProjectCard
        title="CFBot"
        description="這是一款開源的Discord Bot框架，同時也內建許多實用的功能，讓你可以輕鬆地在Discord上創建自己的機器人。"
        projectLogo={CfBotLogo}
        backgroundImage={CfBotBg}
        link="https://github.com/510208/cfbot/"
      />

      <SmallProjectCard
        title="MinePlayer"
        description="一個簡單的Python庫，讓你可以輕鬆地在Python中取得Minecraft玩家的資訊，並且提供了一些實用的功能，例如獲取玩家的UUID等。"
        projectLogo={MPLogo}
        backgroundImage={MPBg}
        link="https://github.com/510208/mineplayer/"
      />

      <SmallProjectCard
        title="browser-homepage"
        description="一個簡單的瀏覽器首頁，基於React與Next.js開發，提供天氣預報、快速連結、時間與每日一句等功能，並具備一定程度的自訂性。"
        backgroundImage={BrowserHomepageBg}
        link="https://github.com/510208/browser-homepage/"
      />
    </div>

    <div class="flex flex-col items-center gap-4">
      <p class="text-center text-sm text-gray-500">
        這裡展示的專案只是我眾多專案中的一部分，如果你對我的其他專案感興趣，歡迎前往
        <a
          href="https://github.com/510208"
          target="_blank"
          class="text-blue-500 hover:underline">我的GitHub頁面</a
        >
        查看更多內容！
      </p>

      <a href="/projects/list">
        <Button variant="default" className="flex items-center gap-2 px-6!">
          查看更多專案
          <FolderBookmark />
        </Button>
      </a>
    </div>
  </div>
</PageLayout>

<script>
  // 點擊卡片時打開對應的GitHub頁面
  document.addEventListener("DOMContentLoaded", () => {
    const cards = document.querySelectorAll(".sh-click-link");
    cards.forEach((card) => {
      card.addEventListener("click", () => {
        const link = card.getAttribute("data-link");
        if (link) {
          window.open(link, "_blank");
        }
      });
    });
  });
</script>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

  const cards = document.querySelectorAll(".sh-project-card");

  document.addEventListener("DOMContentLoaded", () => {
    cards.forEach((card) => {
      gsap.set(card, {
        opacity: 0,
        y: 20,
      });
    });

    cards.forEach((card, index) => {
      gsap.to(card, {
        opacity: 1,
        y: 0,
        duration: 0.6,
        delay: index * 0.1,
        ease: "power2.out",
      });
    });
  });
</script>
