---
import Footer from "@components/core/Footer.astro";
import HeaderBackground from "@components/core/HeaderBackground.astro";
import Header from "@components/core/Header.astro";
import { Spinner } from "@components/ui/spinner";

import "@styles/global.css";

import ToTop from "@components/common/ToTop.astro";
import OgLayout from "./OgLayout.astro";

const baseUrl = Astro.site;
const { pageName, pageDescription, pageOgImage } = Astro.props;

import { Font } from "astro:assets";
---

<!doctype html>
<html lang="zh-Hant">
  <!----------------------------------------------------------------------------------------------------------->
  <!--         ██                                                                                            -->
  <!--       ████                                        █                         ██                        -->
  <!--     ██                                          ██                         ██                         -->
  <!--     ███         ██                     ███      ██      ██                ██   ██      ███            -->
  <!--       ███    ███ ███     ██  ██  ████  ███   █████   ███ ███     ████     ██ ███      ██ ██   ██ ███  -->
  <!--         ██  ██   ███    █████████████  ██████  ███  ██   ███    ██       █████       █████    ████    -->
  <!--         ██  █████████   ████ ███  ██   ██      ██   ██ ██████  ██     ███████████     ██      ███     -->
  <!--   █   ███   ████    ██ ███   ██   █   ██       ██   ████   ███ ████████   ██     █    ██████ ██       -->
  <!--     ███                                         ██                                                    -->
  <!----------------------------------------------------------------------------------------------------------->

  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=5.0"
    />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <meta
      http-equiv="Cache-Control"
      content="public, max-age=31536000, immutable"
    />

    <link
      type="text/plain"
      rel="author"
      href={new URL("/humans.txt", baseUrl)}
    />

    <link rel="sitemap" href="/sitemap-index.xml" />

    <title>
      {pageName ? `${pageName} - SamHacker` : "SamHacker"}
    </title>

    <OgLayout
      pageName={pageName}
      pageDescription={pageDescription}
      pageOgImage={pageOgImage}
    />

    <!-- Google Tag Manager -->
    <script type="text/partytown">
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-MTT9N2D9");
    </script>
    <!-- End Google Tag Manager -->

    <!-- Astro View Transitions -->
    <!-- <ClientRouter /> -->

    <!-- Astro Font -->
    <Font cssVariable="--font-noto" />
    <Font cssVariable="--font-inter" />
    <Font cssVariable="--font-chenyuluoyan" />
    <Font cssVariable="--font-maple" />
  </head>

  <body class="dark">
    <noscript>
      <h2 class="text-9xl text-red-600">
        你必須啟用 JavaScript 才能使用此網站。
      </h2>
      <br />
      <p>請啟用 JavaScript 後重新載入頁面。</p>
    </noscript>

    <HeaderBackground />
    <Header />
    <main>
      <slot />
    </main>
    <Footer />

    <ToTop />

    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-MTT9N2D9"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div
      id="loading-indicator"
      class="fixed right-6 bottom-6 z-50 hidden items-center justify-center opacity-0"
    >
      <div
        class="flex items-center justify-center gap-2 rounded-lg border bg-neutral-900/50 px-4 py-2 backdrop-blur-[6px]"
      >
        <Spinner className="size-6" />
        <span>Loading...</span>
      </div>
    </div>

    <script>
      import gsap from "gsap";

      // 取得 Loading 元素
      const getIndicator = () => document.getElementById("loading-indicator");

      // 1. 點擊連結，開始 SSR 抓取 (由下往上浮現)
      document.addEventListener("astro:before-preparation", () => {
        console.log("開始載入新頁面...");

        const el = getIndicator();
        console.log("取得指示器元素：", el);
        if (el) {
          el.classList.remove("hidden"); // 先顯示元素，讓它參與動畫

          gsap.to(el, {
            y: 0,
            opacity: 1,
            duration: 0.4,
            ease: "power2.out",
            overwrite: true, // 避免重複點擊時動畫衝突
          });
        }
      });

      // 2. 頁面內容載入並切換完成 (縮小或向下淡出)
      document.addEventListener("astro:page-load", () => {
        console.log("新頁面載入完成！");
        const el = getIndicator();
        console.log("取得指示器元素：", el);
        console.log(gsap);
        if (el) {
          gsap.to(el, {
            y: 10,
            opacity: 0,
            duration: 0.3,
            ease: "power2.in",
            delay: 0.2, // 稍微停留一下，避免快閃
          });

          el.classList.add("hidden"); // 動畫結束後隱藏元素，讓它不佔空間
        }
      });
    </script>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>

<script is:inline>
  // 強制設定為深色主題
  document.documentElement.classList.add("dark");

  if (typeof localStorage !== "undefined") {
    localStorage.setItem("theme", "dark");
  }
</script>
