---
import Footer from "@/components/core/Footer.astro";
import HeaderBackground from "@/components/core/HeaderBackground.astro";
import Header from "@components/core/Header.astro";
import "@styles/global.css";
import ToTop from "@components/common/ToTop.astro";
import OgLayout from "./OgLayout.astro";

const baseUrl = Astro.site;
const { pageName, pageDescription, pageOgImage } = Astro.props;
---

<!doctype html>
<html lang="zh-Hant">
  <!----------------------------------------------------------------------------------------------------------->
  <!--         ██                                                                                            -->
  <!--       ████                                        █                         ██                        -->
  <!--     ██                                          ██                         ██                         -->
  <!--     ███         ██                     ███      ██      ██                ██   ██      ███            -->
  <!--       ███    ███ ███     ██  ██  ████  ███   █████   ███ ███     ████     ██ ███      ██ ██   ██ ███  -->
  <!--         ██  ██   ███    █████████████  ██████  ███  ██   ███    ██       █████       █████    ████    -->
  <!--         ██  █████████   ████ ███  ██   ██      ██   ██ ██████  ██     ███████████     ██      ███     -->
  <!--   █   ███   ████    ██ ███   ██   █   ██       ██   ████   ███ ████████   ██     █    ██████ ██       -->
  <!--     ███                                         ██                                                    -->
  <!----------------------------------------------------------------------------------------------------------->

  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=5.0"
    />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />

    <link
      type="text/plain"
      rel="author"
      href={new URL("/humans.txt", baseUrl)}
    />

    <link rel="sitemap" href="/sitemap-index.xml" />

    <title>
      {pageName ? `${pageName} - SamHacker` : "SamHacker"}
    </title>

    <OgLayout
      pageName={pageName}
      pageDescription={pageDescription}
      pageOgImage={pageOgImage}
    />

    <!-- Google Tag Manager -->
    <script type="text/partytown">
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-MTT9N2D9");
    </script>
    <!-- End Google Tag Manager -->
  </head>

  <body class="dark">
    <noscript>
      <h2 class="text-9xl text-red-600">
        你必須啟用 JavaScript 才能使用此網站。
      </h2>
      <br />
      <p>請啟用 JavaScript 後重新載入頁面。</p>
    </noscript>

    <HeaderBackground />
    <Header />
    <main>
      <slot />
    </main>
    <Footer />

    <ToTop />

    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-MTT9N2D9"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>

<script is:inline>
  // 強制設定為深色主題
  document.documentElement.classList.add("dark");

  if (typeof localStorage !== "undefined") {
    localStorage.setItem("theme", "dark");
  }
</script>
