---
import PageHero from "@components/common/PageHero.astro";
import Layout from "@/layouts/Layout.astro";
import "@/styles/animation/vt-content.css";
const { title, subtitle, description, ogImage } = Astro.props;
---

<Layout pageName={title} pageDescription={description} pageOgImage={ogImage}>
  <div
    class="mx-6 mt-20 mb-10 w-auto lg:mx-auto lg:mt-30 lg:w-full lg:max-w-7xl lg:px-6"
  >
    <PageHero title={title} subtitle={subtitle} />
    <div class="h-16" aria-hidden="true"></div>
    <!-- 留白 -->
    <slot />
  </div>
</Layout>
